body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
} 

a {
    text-decoration: none;
}
/* region header */
.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-color {
    color: #4d5ae5;
} 

.header-link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
} 

.header-link-nav:hover, 
.header-link-nav:focus{
    color: #404bbf;
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
} 
/* region header */

/* region section-hero */
.section-hero {
    background-color: #2e2f42;
}

.section-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
} 

.section-hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.section-hero-button:hover,
.section-hero-button:focus {
    background-color: #404bbf;
}
